{% extends "layouts/base.html.twig" %}

{% block title %}Главная{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <h1>Главная</h1>
    <p class="important">
        Home page!
    </p>
{% endblock %}